.itemCard{
    width: 300px;
    height: 420px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgb(0, 0,0,0.1);
    margin: 20px;
    overflow: hidden;
    font-family: Polysans, sans-serif;
    background-color: #E7CFBC;
}
.itemImage{
    max-width: 100%;
    height: auto;
}
.itemContent{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.itemName{
    font-size: 1.5em;
    font-weight: 700;
    color: #966B9D;
}
.buttonBox{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 20px;
}
.button{
    background-color: #F2B880;
    border: none;
    color: #6B0F1A;
    padding: 10px;
    font-size: 14px;
    font-weight: 650;
    cursor: pointer;
    border-radius: 5px;
}
.button:hover{
    border: solid #966B9D;
}